.testimonials {
  background: var(--bg-radial-yellow);
  padding: 0.5rem 2rem 2rem 2rem;
}

.testimonials-page h1 {
  font-size: var(--fs-xxl);
  color: var(--color-primary);
  margin: 0;
}

.company-stack {
  padding: 1.5rem 0;
}

.company-stack .marquee-text p {
  color: var(--color-primary);
}
